.btn {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.btn:nth-child(20) {
  grid-column: 1/3;
}

.btn:nth-child(15) {
  grid-row: 3/6;
  grid-column: 5;
}
/* 
.btn:nth-child(n + 6):nth-child(-n + 8),
.btn:nth-child(n + 11):nth-child(-n + 13),
.btn:nth-child(n + 16):nth-child(-n + 18),
.btn:nth-child(20) {
  background-color: red;
}

.btn:nth-child(n + 1):nth-child(-n + 5) {
  background-color: green;
}

.btn:nth-child(9),
.btn:nth-child(14),
.btn:nth-child(19),
.btn:nth-child(22) {
  background-color: pink;
}

.btn:hover ~ .btn {
    background-color: blue;
    color: #fff;
} */